<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="shortcut icon" href="static/img/garden-18.png" />
    <title>Garden20</title>
    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31457059-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>
  </head>
  <body>

  <script type="text/javascript" src="static/js/lib/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/dashboard/_design/dashboard/_rewrite/static/js/topbar.js"></script>
  <script type="text/javascript" src="static/js/lib/jquery-ui-1.8.5.custom.min.js"></script>
  <script type="text/javascript" src="static/js/lib/jquery.dom.form_params.js"></script>
  <script type="text/javascript" src="static/js/lib/jquery.parsequery.js"></script>
  <script type="text/javascript" src="static/js/lib/jquery.couch.js"></script>
  <script type="text/javascript" src="static/js/lib/amplify.min.js"></script>
  <script type="text/javascript" src="static/js/lib/bootstrap-tooltip.js"></script>
  <script type="text/javascript" src="static/js/lib/bootstrap-alert.js"></script>
  <script type="text/javascript" src="static/js/lib/bootstrap-modal.js"></script>
  <script type="text/javascript" src="static/js/lib/bootstrap-tab.js"></script>
  <script type="text/javascript" src="static/js/lib/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="static/js/lib/moment.min.js"></script>
  <script type="text/javascript" src="modules.js"></script>
  <script type="text/javascript" src="static/js/ui.js"></script>

                    {{{content}}}





  </body>
</html>
