<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="shortcut icon" href="static/img/kanso_icon_20.png" />
    <title>Garden Dashboard</title>
  </head>
  <body>


    <div class="navbar navbar-static">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
                 <span class="brand-colour">Garden</span> Dashboard
            </a>
            <ul class="nav">
              <li class="apps active">
                <a href="./#/apps">Apps</a>
              </li>
              <li class="markets"><a href="./#/markets">Markets</a></li>
              <li class="sync"><a href="./#/sync">Sync</a></li>
              <li class="settings"><a href="./#/settings">Settings</a></li>
            </ul>
      </div>
     </div>
    </div>
    <div class="container">




            <div id="content" class="main">
                    {{{content}}}
            </div>



    </div>


    <script type="text/javascript" src="static/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="static/js/lib/jquery.couch.js"></script>
    <script type="text/javascript" src="static/js/lib/director-1.0.7.min.js"></script>
    <script type="text/javascript" src="static/js/lib/bootstrap-twipsy.js"></script>
    <script type="text/javascript" src="static/js/lib/bootstrap-popover.js"></script>
    <script type="text/javascript" src="static/js/lib/bootstrap-alert.js"></script>
    <script type="text/javascript" src="static/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="static/js/lib/System.js"></script>
    <script type="text/javascript" src="modules.js"></script>
    <script type="text/javascript" src="static/js/install.js"></script>
  </body>
</html>
