
<h3>App Details</h3>

name : {{kanso.config.name}}<br/>
description: {{kanso.config.description}}<br/>
version: {{kanso.config.version}}<br/>
src: <a href="{{src}}">{{src}}</a>


<fieldset class="form-actions " style="display: none;">
    <button class="btn primary large">Install</button>
    <button class="btn">Cancel</button>
</fieldset>


<div class="well install-info" style="display: none;">

    <h4>Creating DB</h4>

    <div class="progress info striped active install-info"  style="display: none;">
      <div class="bar" style="width: 10%;"></div>
    </div>

    <a href="#" class="btn success large" style="display: none;">Open App</a>


</div>





