<div id="secondbar" class="app_details">
  <div class="container">
    <div class="row app_info" data-app_url="{{app_url}}">
      <div class="span2">
        <img class="app_icon" src="{{baseURL}}/_db/{{id}}/{{icon_96}}" width="96" />
      </div>
      <div class="span9">
        <h1 class="app_title">{{title}}</h1>
        <span class="author">
          By <a href="#" class="uploaded_by"></a>
        </span>
        <span class="updated">
          Updated <span class="readable"></span>
        </span>

      </div>
    </div>
  </div>
</div>
<div id="thirdbar" class="app_details">
  <div class="container">
    <div class="row">
        <div class="span2">
            Garden20!
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="content">
    <div class="row">

        <div class="span3">
            Login
        </div>
        <div class="span3">
            Signup
        </div>



    </div>
  </div>
</div>
<script type="text/javascript" src="static/js/install.js"></script>