<div class="row title">
    <h1>Garden Markets</h1>
    Find fresh apps to install from your local garden market!
</div>

  


<ul class="gardens">

</ul>
<div class="new-market">
    <form class="well">
        <label>Market URL</label>
        <input type="url"  id="market-url" />

        <label>Market Name</label>
        <input type="text" id="market-name" />


        <fieldset class="form-actions">
          <button id="add-market-final" class="btn primary">Add</button>
          <button type="reset" class="btn cancel">Cancel</button>
        </fieldset>

    </form>
</div>

<button class="btn add-market admin-only">Add New Market</button>



