        <div class="row title">
            <h1>Garden Sync</h1>
            Run this garden's applications on your own device. Everything will always be in sync.
        </div>

        
        <form class="install-banner well">
            <h2>Install and Run Garden Sync</h2>
            <button class="btn primary large">1-Click Install</button>
            <label>Windows XP/Vista/7</label>
        </form>
        
        <a href="#" class="other">Other Options/Platforms</a>
        <table class="platform-installs">
            <thead>
                <tr>
                    <th>Platform</th>
                    <th>Installer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Android</td>
                    <td><a href="#">Garden Sync</a> app in the Android Market</td>
                </tr>
                <tr>
                    <td>iPhone/iPad</td>
                    <td><a href="#">Garden Sync</a> app on the Apple Store</td>
                </tr>
                <tr>
                    <td>Windows XP/Vista/7</td>
                    <td><button class="btn small">1-Click Install</button></td>
                </tr>
                <tr>
                    <td>Windows XP/Vista/7</td>
                    <td><a href="#">Garden Sync Installer</a></td>
                </tr>
                <tr>
                    <td>MacOSX</td>
                    <td><button class="btn small">1-Click Install</button></td>
                </tr>
                <tr>
                    <td>MacOSX</</td>
                    <td><a href="#">Garden Sync Installer</a></td>
                </tr>
                <tr>
                    <td>Linux</</td>
                    <td><a href="#">Installation Instructions</a></td>
                </tr>
            </tbody>
        </table>